@import "tailwindcss";


@font-face {
  font-family: 'EuropeextBold';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/europeext/EuropeExt-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'EuropeextNormal';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/europeext/EuropeExt.otf') format('opentype');
}

* {
  /* border: red 1px solid; */
}